---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<header class="page-header">
	<h1>{title}</h1>
	<nav class="tabs">
	<a href="/" class="tab">Acceuil</a>
		<a href="#documentation" class="tab">Documentation</a>
		<a href="#formation" class="tab">Formation</a>
	</nav>
</header>

<style>
	.page-header {
		padding: 2rem 0;
		text-align: center;
		margin-bottom: 2rem;
	}
	h1 {
		color: rgba(23,71,158,255);
		font-size: 2.5rem;
		margin-bottom: 1.5rem;
	}
	.tabs {
		display: flex;
		justify-content: center;
		gap: 1rem;
	}
	.tab {
		padding: 0.5rem 2rem;
		color: rgba(23,71,158,255);
		text-decoration: none;
		border-radius: 20px;
		transition: all 0.2s ease;
		border: 2px solid rgba(23,71,158,255);
	}
	.tab:hover {
		background: rgba(23,71,158,255);
		color: white;
	}
</style>